*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    background-color: #F5ECD6;
}
#header{
    width: 100%;
    background-color: #fff;
    height: 70px;
    position: fixed;
    z-index: 999;
    top: 0;
}
.header_main{
    /* border: 1px tomato solid; */
    display: flex;
}
.header_main ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 85%;
    gap: 100px;
    margin-top: 10px;

    /* margin: auto 0; */
    /* border: 1px solid tomato; */
}
.btntransform,.btntransform2,.btntransform3{
    /*丸の基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/	
    display: inline-block;
	padding:0 0 0 15px;
	line-height: 50px;
    color: #333;
    text-decoration: none;
    outline: none;
    /* border: 1px solid tomato; */
}
/* 丸が動く */
.btntransform::before{
	content:'';
    /*絶対配置で丸の位置を決める*/
	position:absolute;
	left:0;
	z-index: -1;
    /*丸の形状*/
	width:50px;
	height:50px;
	background:#ccc;
	border-radius:25px;
    /*アニメーションの指定*/
    transition:.3s ease-out;
}
/*hoverした際の形状*/
.btntransform:hover::before{
	width: calc(100% + 30px);
}
/* 矢印の形状 */
.btntransform::after{
	position: absolute;
    content: '';
    top: 1.3em;
    right: -15px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    /* border: 1px solid tomato; */
}




#footer{
    width: 100%;
    height: 300px;
    background-color: #fff;
    /* border: 1px solid tomato; */
}
.footer{
    width: 100%;
    height: 30px;
}
.footer_dot{
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 60px;
    /* border: 1px solid tomato; */
}
.footer_box{
    border-top: 3px solid green;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px 0 30px 0;
    display: flex;
    justify-content: center;
}
small{
    display: flex;
    justify-content: center;
    color: #000;
}
